body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    width: 500px;
    margin: 10px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
 
  
  .container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }







  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
::before,
::after{
    margin:0;
    padding:0;
    box-sizing: inherit;
}
body{
    background: #f6f6f6;
}

.box{
    width: 100%;
    margin:100px auto;
    background-color: #283042;
    
    border-radius:7px;
    margin-bottom: 1rem;
    padding:1rem;
    
    box-shadow:.5rem 2px .5rem rgba(0,0,0,1);
}



.box .heading{
    background: #7800CF;
    border-radius:7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-family: "Rubik";

}

.faqs{
    padding :  0px 20px 20px;
    
    justify-content: space-between;
}

::-webkit-details-marker{
    float:right;
    margin-top:3px;
   
    

}

details{
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius:7px;
    margin-top:20px;
    font-family: "Rubik";
    font-size: 14px;
    letter-spacing: 1px;
}

details summary{
    outline:none;
    
}

.text p{
    color: rgba(255,255, 255,.6);
    font-size: 1.4rem;
    padding: 2rem;
    background-color:#212838;
    transition : max-height 650ms;

}

details
{
  font-size: 15pt;
}

summary
{
  padding: 1%;
}