<app-headernav-prepaid *ngIf="service=='prepaid'"></app-headernav-prepaid>
<app-headernav-postpaid *ngIf="service=='postpaid'"></app-headernav-postpaid>
<div style="padding-top: 4%; background-color: rgb(247, 247, 247);" class="container-fluid">
  <div class="row">
    
    <div class="col-sm-3">
      <br><br><br>
      <h1 style="margin-top: 19%;">Hi welcome {{name}} ...</h1>
      <br><br><br><br><br><br>
      <h2>Do you have any queries don't worry you are at the right place !!</h2>
      <h2>Ask your questions with our EXPERTS through this live chat.</h2>
<h2>Find Most frequently asked questions below</h2>

    </div>
    <div class="col-sm-4">
      <img style="height:100%;width: 100%;" src="/assets/Images/personchat.png">

    </div>
    <div class="col-sm-5">
      <h2 align="center">Chat Here With Customer Support Person</h2>
      <div style="height: 500px;border: solid;border-color: black;width: 550px; overflow: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class="container">
            <img src="/assets/Images/adminside.png" alt="Avatar" style="width:100%;">
            <p style="float: left;">Hello. How can i help you?</p>
            <span class="time-right">11:00</span>
          </div>
    <div *ngFor="let item of chats | async">
    <div   *ngIf="item.admin_id!=0" class="container">
      <img src="/assets/Images/adminside.png" alt="Avatar" style="width:100%;">
      <p style="float: left;">{{item.message}}</p>
      <span class="time-right">11:00</span>
    </div>
    
    <div style="margin: 20px;" *ngIf="item.admin_id==0" class="container darker">
      <img src="/assets/Images/customerside.jpg" alt="Avatar" class="right" style="width:100%;">
      <p style="float: right;">{{item.message}}</p>
      <span class="time-left">11:01</span>
    </div>
    </div>
    </div>
    <div style="margin-top: 1%;" align="center">
    <input style="margin-left: -60px;width: 450px;height: 30px;" placeholder="Type your text here.." type="text" id="text" [(ngModel)]="chat.message"  #msg="ngModel" class="input">&nbsp;&nbsp;&nbsp;<button style="width: 85px;height: 30px;" class="btn-primary" (click)="call()">Send</button>
    </div>
  </div>
    </div>
  </div>
  <div class="container">

    
  </div>

  <div style="margin-top: -20px;" class="box">
    <p class="heading">FAQS</p>
    <div class="faqs">
    <details>
        <summary>Q1. I am unable to use internet?</summary>
        <p class="text">Visit Voizfonica.in to check network strength at your area.</p> 
    </details>
    <details>
        <summary>Q2. I want to view my current bill</summary>
        <p class="text">Simply login at Voizfonica.in and go to Billing section to view your current bill.</p> 
    </details>
    <details>
        <summary> Q3. I want to view my past payments?</summary>
        <p class="text">Simply login at Voizfonica.in and go to Billing section >> Last Payments to view details of last 3 payments made.</p> 
    </details>
  
    <details>
      <summary> Q4.Can I change my personal details? </summary>
      <p class="text">You can change your personal details such as registered mobile number, registered email ID, preferred mode of communication etc. 
        Sign In to Voizfonica.com
        Tap on 'Settings icon' from the Menu option. Here you can update your personal details</p> 
  </details>
  
  <details>
    <summary> Q5. I have a prepaid connection how can I get postpaid on the same number </summary>
    <p class="text">Yes, you can have up to 9 SIMs on your name at one time – and own both  Prepaid and  Postpaid connections at the same time.</p> 
  </details>
  
  <details>
    <summary> Q6. I want to convert my Prepaid to Postpaid connection is it possible?
    </summary>
    <p class="text">Yes, you can convert your Prepaid connection to Postpaid online by simply login at voizfonica.com and click on convert prepaid to postpaid service.
      Switch now</p> 
  </details>
  
  <details>
    <summary> Q7.OTP not received </summary>
    <p class="text">Delete some messages from your inbox and check if this has space.</p> 
  </details>
  
  <details>
    <summary> Q8. I have not received my bill </summary>
    <p class="text">You can view/download/email your bills by simply logging on to Voizfonica.com and clicking on Billing section. Your bills are available under Last Bill and Statements.</p> 
  </details>
  
  <details>
    <summary> Q9. I have used my daily data quota & the data speed has been reduced, what should I do to get 4G speed again? </summary>
    <p class="text">If you are on a Daily 4G FUP plan, the daily data quota is renewed at midnight. In case your daily high speed data limit is exhausted and you want to continue using internet at 4G speeds, you can recharge with the  4G Data Voucher.</p> 
  </details>
  
  <details>
    <summary> Q10. How can I do a recharge? </summary>
    <p class="text">Login at Voizfonica.com get a option  recharge and simply you can recharge there by using 3 steps.</p> 
  </details>
  
  </div>
  </div>



