<app-headernav-prepaid></app-headernav-prepaid>
<div class="container" style="margin-top: 2%;">
    <div class="row profile" style="border-style:solid;background-color: rgb(186, 149, 221);">
		<div class="col-sm-4" style="height: 400px;" >
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div align="center"  class="profile-userpic">
                    <img src="https://img.icons8.com/bubbles/100/000000/administrator-male.png" alt="Avatar" class="avatar">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{name}}
					</div>
					<div class="profile-usertitle-job">
						{{service}}
					</div>
                </div>
            </div>
            <button style="width:100%;border-color:rgb(186, 149, 221) ;background-color: rgb(186, 149, 221);" [routerLink]="['/update/editprofile']">EDIT</button>
            <button style="width:100%;border-color:rgb(247, 247, 137) ;background-color: rgb(247, 247, 137) " [routerLink]="['/update/setting']">SETTINGS</button>
            <button style="width:100%;margin-bottom: 2%;">LOGOUT</button>
        </div>
        <div class="col-sm-8">
            <router-outlet></router-outlet>
        </div>
    </div>

    
	