html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

.zoom {

  transition: transform .2s;
  width: 200px;
  height: 200px;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
}
#section1 {
  height: 400px;
  scroll-behavior: smooth;
}

#section2 {
  height: 600px;
}
.d-block {
    height: 450px;
    width: 100%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    mask-type: alpha;
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
  }

  .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;

  }

  .carousel-caption {
    width: 300px;
    background-color: rgb(119, 92, 92);
    margin-bottom: -20px;
    border-radius: 5%;
    margin-left: -150px;
    ;
  }

  .card {
    margin: auto;
  }

  .btn-success {
    color: rgb(44, 41, 41);
    font-family: Avantgarde, TeX Gyre;
  }
  .body{
    font-family: Arial, Helvetica, sans-serif;
  }
  p {
    font-family: Lato;
  }
  
.container-fluid{padding: 10px;
    text-align: justify;}
.sticky-nav {
  width: auto;
  z-index:+1
}
.sticky-nav ul{padding:0px; margin:0px;}
.sticky-box-shadow {
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
 
  background:#000!important;
  color:#fff;
}
.sticky-nav  ul li{float: left;
    margin-right: 20px;
    list-style-type: none;
    font-size: 24px;}
.shadoww
{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
 
  background:rgb(105, 88, 88)!important;
  color:#fff;
  margin:1%;
}

.shadowww
{
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
 
  background:rgb(105, 88, 88)!important;
  color:#fff;
  margin:1%;
}