<div class="container-fluid sticky-nav-wrapper" style="background-color: #0f183b;height: 80px;width: 100%;">
<div class="container" >
    <nav class="navbar navbar-expand-lg navbar-light sticky-nav" ngStickyNav stickyClass="sticky-box-shadow" ngStickyNav>
        <a class="navbar-brand" style="color: white;margin-top: 15px;" href="#"><h2 style="font-size: 20pt;">VOIZFONICA</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse " id="navbarNavAltMarkup">
          <div class="navbar-nav" style="padding-left: 550px;" >
            <a class="nav-item nav-link active" style="color: white;margin-top: 10px;font-size: 15pt;" href="/home/#section1">SERVICES <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" style="color: white;margin-top: 10px;font-size: 15pt;" href="/home/#section2">WHY VOIZFONICA</a>
            <a class="nav-item nav-link" style="color: white;margin-top: 10px;font-size: 15pt;" href="/login">LOGIN</a>
             </div>
        </div>
      </nav>
</div>
</div>

<div class="row" >
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="view">
              <img class="d-block w-100" src="assets\Images\slider1.jpg" style="width: 100%;" alt="First slide">
              <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">Connecting the World</h3>
            </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view" style="width: 100%;">
              <img class="d-block w-100" src="assets\Images\slider2.png" style="width: 100%;" alt="Second slide">
              <div class="mask rgba-black-strong"></div>
            </div>
            <div class="carousel-caption" style="width: 400px;">
              <h3 class="h3-responsive">High Speed Data Provider</h3>
            </div>
          </div>
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
              <img class="d-block w-100" src="assets\Images\slider3.jpg" style="width: 100%;" alt="Third slide">
              <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
              <h3 class="h3-responsive">End to End Security</h3>
            </div>
          </div>
        </div>
  
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <svg style="background-color:black;" width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-arrow-left-short"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z" />
            <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z" />
          </svg>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <svg style="background-color: black;" width="3em" height="3em" viewBox="0 0 16 16"
            class="bi bi-arrow-right-short" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z" />
          </svg>
        </a>
  
      </div>
  
</div>
<div class="container-fluid" style="height: 1600px; background-color: #fbfdfd;" >
  <div class="row">
    <div class="container">
      <div style="width: 50%;float: left;">
        <h2 style="color: rgb(0, 0, 0);padding-top: 100px;">"VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way"
        </h2>
    </div>
    <div class="shadowww"  style="width: 40%;float: right;padding-right: 5%;margin-top: 4%;">
      <div style="margin:auto;padding-top:100px;">
      <div style="margin:0% 0% 5% 5%;" >
      <h2 align="center" style="font-size:40pt;" >{{num}}+</h2>
      <h3 align="center" style="text-shadow: black;" >Our Happy Customers World Wide</h3><br>
    </div>
    </div>
    </div>
  </div>    
  </div>

  <div class="row">
    <div class="col-sm-6 zoom" >
      <div align="center" style="margin-left:100px;margin-top: 50px;width: 80%;">
        <img class="shadoww" style="width: 100%;" src="\assets\Images\bestoffers.png">
      </div>
    </div>
    <div class="col-sm-6 zoom">
      <div style="margin-top: 50px;width: 80%;  ">
        <img class="shadoww" style="width: 100%;height: 230px;" src="\assets\Images\speed.png">
      </div>
    </div>
  </div>
  <div class="container" id="section1"><br><br>
    <fieldset class="" style="text-align:center;border-style: solid;background-color: rgb(250, 250, 239);margin-top:12%;height: 500px;width :100%">
      <legend><b>OUR SERVICES</b></legend>
  <div class="row" style="margin-top:2%;margin-bottom: 2%;">
    <div class="col-sm-4">
      <div style="float: left;padding-left: 25px;" class="container zoom">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/Images/postpaid.png" style="height: 200px;"x alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Pre paid</h5>
            <p class="card-text">Best offers, High speed data, 24x7 customer support.</p>
            <a href="#" style="color: rgb(0, 0, 0);" class="btn btn-success">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="float: left;padding-left: 25px;" class="container zoom">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/Images/prepaid.png" style="height: 200px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Post paid</h5>
            <p class="card-text">Best offers, High speed data, Easy bill payment, 24x7 customer support.</p>
            <a href="#" style="color: rgb(0, 0, 0);" class="btn btn-success">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div style="float: left;padding-left: 25px;" class="container zoom">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="/assets/Images/dongle.jpg" style="height: 200px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Dongle</h5>
            <p class="card-text">Best offers, High speed data, 24x7 customer support, featured plans</p>
            <a href="#" style="color: rgb(0, 0, 0);" class="btn btn-success">Buy Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </fieldset>
</div>
<div class="container-fluid " style="margin-top: +350px;   ">
  <img class="shadoww" style="width: 100%;" src="\assets\Images\dongle offer.png">
</div>



<div class="container" id="section2" style="margin-top: 2%;">
  <fieldset style="text-align:center;border-style: solid;background-color: rgb(250, 250, 239);">
    <legend><b>WHY VOIZFONICA</b></legend>
   
  <h2 style="color: rgb(0, 0, 0); padding-top:0%;"></h2>
<div class="row">
    <div class="col-sm-4" style="margin-top: 90px;">
      <div align="center">
      <img  style="width:200px;height: 200px;" src="\assets\Images\world.png">
      <h3 style="color: rgb(0, 0, 0);font-size: 20pt;">We are World Wide</h3>
    </div>
    </div>
    <div class="col-sm-4" style="margin-top: 90px;padding:auto">
      <div align="center">
        <img  style="width:200px;height: 200px;" src="\assets\Images\custsupport.png">
        <h3 style="color: rgb(0, 0, 0);font-size: 20pt;">24x7 support</h3>
      </div>
    </div>
    <div class="col-sm-4" style="margin-top: 90px;padding:auto">
      <div align="center">
        <img  style="width:200px;height: 200px;" src="\assets\Images\security.png">
        <h3 style="color: rgb(0, 0, 0);font-size: 20pt;">Security is our Priority </h3>
      </div>
    </div>
  </div>
</fieldset>
</div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>