<div class="container" align="center">
    <img src="assets/Images/done.gif" style="width: 400px;height: 300px;margin-top: 150px">
    <h2 style="color: green;font-weight: bold;">Thank you!, Payment Successfull.</h2>
    <button class="btn-primary" *ngIf="service=='prepaid'" [routerLink]="[ '/loginsuccess']">Go Back to Home</button>
    <button class="btn-primary" *ngIf="service=='postpaid'" [routerLink]="[ '/postpaidhome']">Go Back to Home</button>
    <button class="btn-primary" *ngIf="service=='dongle'" [routerLink]="[ '/loginsuccess']">Go Back to Home</button>
</div>