<!-- Footer -->
<footer style="margin-top:+10% ;" class="page-footer font-small blue pt-4" style="color: black;">

    <!-- Footer Links -->
    <div style="background-color: rgb(43, 39, 39);margin-top: -2%;" class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div  class="row">
  
        <!-- Grid column -->
        <div style="padding: 2%;color: white;" class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">VoizFonica</h5>
          <p>VoizFonica is a Mobile Network Operator and telephone company. VoizFonica provides network access and telecommunication services that help people and companies communicate in an easy, efficient and environmentally friendly way</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        
        <!-- Grid column -->
        <div align="center" style="padding: 2%;color: white;" class="col-md-6 mb-md-0 mb-6">
  
          <!-- Links -->
          <h5 class="text-uppercase">GO TO</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="/home/#section1">SERVICES</a>
            </li>
            <li>
              <a href="/home/#section2">WHY VOIZFONICA</a>
            </li>
            <li>
              <a href="/login">LOGIN</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="#">VoizFonica.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->