<app-headernav-prepaid></app-headernav-prepaid>
<div style="margin-top: 5%;" align="center">
<ol class="progtrckr" data-progtrckr-steps="5">
    <li class="progtrckr-done">Switching request placed successfully</li>
    <li class="progtrckr-todo">Address Verification</li>
    <li class="progtrckr-todo">Changing Service</li>
    <li class="progtrckr-todo">Process completed</li>
</ol>
</div>
<div class="container" style="margin-top: 10%;">
    <h1 style="font-size: 30pt;">Congratulations!!</h1>
    <h1>Hi.. Your Switching process is Already Started</h1>
    <h3>Further steps will be taken care by us so sit back and enjoy your prepaid service untill we complete this process</h3>
</div>
<div id="wave">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<button style="margin-left: 715px;margin-top: 2%;" class="btn-primary" (click)="gohome()">Back to Home</button>
<div style="background-color: black;color: white;margin-top: 80px;" class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">VoiceFonica.com</a>
  </div>