<button class="btn-success" (click)="generatePDF()">Generate bill</button>
<button class="btn-success" (click)="sendMail()">Send Email</button>
<div id="contentToConvert">

    

    <div class="invoice overflow-auto">
        <div style="min-width: 600px">
            <header>
                <div class="row">
                    <div class="col">
                        <a target="_blank" href="https://lobianijs.com">
                           
                        <h1>VOIZFONICA</h1>    
                        </a>
                    </div>
                    
                </div>
            </header>
            <main>
                <div class="row contacts">
                    <div class="col invoice-to">
                        <div class="text-gray-light">INVOICE TO:</div>
                        <h2 class="to">{{name}}</h2>
                        <div class="address">{{mob}}</div>
                        <div class="email"><a href="mailto:john@gmail.com">{{email}}</a></div>
                    </div>
                    <div class="col invoice-details">
                        <h1 class="invoice-id">INVOICE 3-2-1</h1>
                        <div class="date">Date of Invoice: {{today}}</div>
                        <div class="date">Due Date: {{lastdate}}</div>
                    </div>
                </div>
                <table border="0" cellspacing="0" cellpadding="0">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th class="text-left">DESCRIPTION</th>
                            <th class="text-right">HOUR PRICE</th>
                         
                            <th class="text-right">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="no">01</td>
                            <td class="text-left"><h3>
                                <a target="_blank" href="https://www.youtube.com/channel/UC_UMEcP_kF0z4E6KbxCpV1w">
                                Dongle pack
                                </a>
                                </h3> 
                            </td>
                            <td class="unit">₹0.00</td>
                           
                            <td class="total">₹0.00</td>
                        </tr>
                        <tr>
                            <td class="no">02</td>
                            <td class="text-left"><h3>Voice pack</h3></td>
                            <td class="unit">₹40.00</td>
                           
                            <td class="total">₹200.00</td>
                        </tr>
                        <tr>
                            <td class="no">03</td>
                            <td class="text-left"><h3>Data Pack</h3></td>
                            <td class="unit">data Used {{pack}} GB</td>
                            <td class="total">₹{{amount}}.00</td>
                        </tr>
                       
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="1">SUBTOTAL</td>
                            <td>₹{{subtotal}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="1">TAX 25%</td>
                            <td>₹200.00</td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td colspan="1">GRAND TOTAL</td>
                            <td>₹{{total}}</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="thanks">Thank you!</div>
                <div class="notices">
                    <div>NOTICE:</div>
                    <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
                </div>
            </main>
            <footer>
                Invoice was created on a computer and is valid without the signature and seal.
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>
</div>